.tooltip {
    position: absolute;
    border-radius: 20px;
    padding: 5px 20px;
    font-size: 12px;
    color: #fff;
    background-color: green;
}
.tooltip::before {
    content: " ";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid green;
    position: absolute;
    bottom: -8px;
    left: 10px;
}
